# Dependências (Gigante, nunca enviar)
node_modules/

# Logs e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos de sistema operacional (Lixo)
.DS_Store
Thumbs.db

# Variáveis de Ambiente (Segurança: Senhas nunca vão pro Git!)
.env

# Pastas de IDE (Opcional, mas bom pra não enviar config do seu VSCode)
.vscode/
.idea/