<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal Game of Ur - Início</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <h1>The Royal Game of Ur</h1>
        <nav>
            <ul>
                <li><a href="#game-selection">Jogar</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#regras">Regras</a></li>
                <li><a href="#disciplina">Disciplina</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>
            <section id="game-selection" class="hero-section">
                <h2>Pronto para o desafio milenar?</h2>
                <p>Escolha seu modo de jogo:</p>
                
                <div class="menu-buttons">
                    <!-- <button onclick="alert('Em breve...')" class="btn-primary disabled">Contra Bot</button> -->
                     <a href="/game?mode=bot" class="btn-primary" style="background-color: #f39c12;">
                        Play vs Bot
                    </a>
                    
                    <a href="/game" class="btn-primary">Jogar Online</a>
                </div>
            </section>

            <hr>

            <section id="sobre">
                <h2>Sobre o Projeto</h2>
                <p>O Jogo Real de Ur é um dos jogos de tabuleiro mais antigos já descobertos, originário da antiga Mesopotâmia.</p>
            </section>

            <section id="regras">
                <h2>Regras Básicas</h2>
                <p>O objetivo é percorrer o tabuleiro com suas 7 peças antes do adversário. Utilize os dados tetraédricos para mover.</p>
                </section>

            <section id="disciplina">
                <h2>Disciplina</h2>
                <p>Desenvolvido para <strong>INE5646 - Programação para Web</strong> (UFSC).</p>
            </section>
        </main>
    </div>

    <footer>
        <p>UFSC - Sistemas de Informação - 2025</p>
    </footer>
</body>
</html>